.shopping-cart-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    background: linear-gradient(90deg, #ff8c00, #ffa500, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    background: linear-gradient(90deg, #ff8c00, #ffa500, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 100px;
    border-radius: 10px;
}

.item-info {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.product-name {
    background: linear-gradient(90deg, #ff8c00, #ffa500, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-control button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.remove-item {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cart-summary {
    margin-top: 20px;
}

.checkout-btn {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
