.user-profile-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}

.user-profile-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.user-profile-container form,
.user-profile-container div {
    display: flex;
    flex-direction: column;
}

.user-profile-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.user-profile-container button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}
