/* UserProfile.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.user-profile-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.user-profile-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.user-profile-container form,
.user-profile-container div {
    display: flex;
    flex-direction: column;
}

.user-profile-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.user-profile-container button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.order-history-container {
    margin-top: 20px;
    text-align: left;
}

.order-history-container h2 {
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ff8c00, #ffa500, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.order-history-container ul {
    list-style-type: none;
    padding: 0;
}

.order-history-container li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-history-container p {
    margin: 5px 0;
}

.order-history-container ul ul {
    margin-top: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
}
